<div class="container-fluid bg-light py-5">
  <footer class="row">
    <div class="col-md-6">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/contact.html' %}active{% endif %}" href="/contact.html">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="nav justify-content-end">
        <li class="ms-3 fs-4">
          <a class="text-muted" href="#">
            <i class="bi bi-youtube"></i>
          </a>
        </li>
        <li class="ms-3 fs-4">
          <a class="text-muted" href="#">
            <i class="bi bi-twitter-x"></i>
          </a>
        </li>
        <li class="ms-3 fs-4">
          <a class="text-muted" href="#">
            <i class="bi bi-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>